# network manager related packages

- name: installing network-manager related packages
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
  - network-manager
  - network-manager-gnome
  - network-manager-openconnect-gnome
  - network-manager-openvpn-gnome
  - network-manager-pptp-gnome
  - strongswan-nm
  tags: nm
  notify: restart network-manager
  when: include_nm
